.popup-search {
    display: flex; 
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.5); 
    flex-direction: column; 
    gap: 8px; 
    background: white; 
    height: 500px; 
    width: 400px; 
    padding: 8px; 
    border-radius: 8px; 
    max-width: 400px;
    overflow-y: scroll;
}

.item-search {
    padding: 8px; 
    text-align: left; 
    border: 2px solid #737d839c; 
    background-color: #737d8325;
    border-radius: 6px;
    cursor: pointer;
}

.item-search--selected {
    border: 2px solid #0099ff96; 
    background-color: #0099ff3f;
}