.search-wrapper {
    z-index: 1000;
    position: fixed;
    right: 120px;
    top: 60px;
    display: flex; 
    flex-direction: column;
    gap: 0.5rem;
    padding: 8px
}

.form-search {
    display: flex; 
    gap: 0.5rem;
}


.search-input {
    padding: 2px;
    display: flex;
    align-items: center;
    gap: 0.5rem; 
    background: #fff; 
    border: 1px solid black; 
    border-radius: 4px;
    width: 400px
}

.search-input input {
    padding: 8px; 
    border: none; 
    flex: 1;
}

.form-search button {
    padding: 8px; 
    border-radius: 4px; 
    border: 1px solid black;
    background-color: #fff;
}

.query-selector {
    padding: 8px; 
    border-radius: 4px; 
    border: 1px solid black; 
    background: #fff; 
    max-width: 400px;
}
